<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <br>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
      <label for="title" class="form-label" >Title</label>
      <input name="listing[title]" 
      placeholder="enter title"
       type="text" 
       class="form-control" 
       required
       />
       <div class="valid-feedback">
        Title looks good
       </div>
      </div>
      
      <div class="mb-3">
        <label for="decription" class="form-label" >Description</label>
        <textarea
        name="listing[description]"
        placeholder="enter description"
        class="form-control"
        required
      >
    </textarea>
    <div class="invalid-feedback">
      please enter short description
     </div>
      </div>
      
      <div class="mb-3">
        <label for="image" class="form-label" >upload listing image</label>
        <input
        name="listing[image]"
        placeholder="upload listing image"
        type="file"
        class="form-control"
      />
      </div >
      
      <div class="mb-3">
        <label for="price" class="form-label" >Price</label>
        <input name="listing[price]" 
        placeholder="enter price"  
        class="form-control"
        required
        />
        <div class="invalid-feedback">
          please enter a valid price 
         </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="country" class="form-label" >Country</label>
          <input name="listing[country]" 
          placeholder="enter country" 
          type="text"
          class="form-control"
          required
           />
           <div class="invalid-feedback">
             enter the name of country 
           </div>
        </div>
       
        <div class="mb-3 col-md-8">
          <label for="location" class="form-label" >Location</label>
          <input
          name="listing[location]"
          placeholder="enter location"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">
         enter the name of Location
         </div>
        </div>
        
      </div>

      
      <br /><br />
      <button class="btn btn-dark add-btn">Add</button>
    </form>
  </div>
  </div>